:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);

    --darkpurp: #240046;
    --medpurp: #5a189a;
    --lightpurp: #7b2cbf;
    --mediumyellow: #fdc500;
    --lightyellow: #ffd500;

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: linear-gradient(45deg, transparent, var(--darkpurp) 50%, var(--mediumyellow) 90%),
        url('../assets/background.jpg');
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    /* background-color: var(--header-background); */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.page-header nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    border: solid #240046 5px;
    border-radius: 1rem;
    background: #240046;
    padding: 5px;
    color: whitesmoke;
}

nav a:hover {
    border: solid #7b2cbf 5px;
    background: #7b2cbf;
}
main {
    padding: 20px;
}

h1 {
    color: whitesmoke;
    font-size: 5rem;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

#alpha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-container {
    /* border: solid black 1px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    /* background: linear-gradient(5deg, var(--darkpurp), var(--mediumyellow)); */
    /* box-shadow: 0px 0px 12px var(--darkpurp), 0px 0px 12px var(--darkpurp); */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid var(--lightyellow) 3px;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.3);
    opacity: 75%;
    min-width: 300px;
    min-height: 150px;
    margin: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1px 12px var(--darkpurp), 0 1px 12px var(--darkpurp);
}

.genre {
    color: whitesmoke;
    text-align: center;
    font-size: 3.5rem;
}

#city-list {
    width: 70rem;
    text-align: center;
    color: whitesmoke;
}

#member-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#member-form * {
    margin: 10px;
}

#member-form label {
    color: whitesmoke;
    font-size: 3rem;
}

#member-form input {
    height: 3rem;
    width: 30rem;
    font-size: 2.5rem;
}

#member-form select {
    height: 3rem;
    width: 30rem;
    font-size: 2.5rem;
}

#member-form button {
    font-size: 2.5rem;
    color: whitesmoke;
    align-self: center;
    text-decoration: none;
    border-radius: 1rem;
    padding: 5px;
    border: solid #7b2cbf 5px;
    background: #7b2cbf;
    box-shadow: 0 1px 10px var(--mediumyellow), 0 1px 10px var(--mediumyellow);
}

#member-form button:hover {
    cursor: pointer;
    border: solid #fdc500 5px;
    background: #fdc500;
    box-shadow: 0 1px 10px var(--lightpurp), 0 1px 10px var(--lightpurp);
}
